<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boer Piet - Contact </title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
       <body background = "/images/background-cheese.jpg">
           <header th:replace = "navigator :: header" />
        
        <h1 align="center">Welkom bij Boer Piet!</h1>
        <h2 align="center">Boer Piet</h2> 
        <p align="center"> Ik ben Boer Piet<br/>
            Ik maak al mijn helemaal leven kaas<br/>
            Nu wil ik de wereld laten genieten van mijn kaas<br/>
            Op deze pagina staat een foto van mij<br/>
            Op deze pagina staat ook een foto van een van mijn kazen<br/>
            Ik hou van jou, meneer de klant<br/>
            (Dit heb ik geleerd bij de boeren-marketing klas: "Paai de klant")<br/>
            
            Na ja,, doei
            </p>
         <img src="/images/Edwin.png" />
         <img src="/images/cheeses.jpg"/>
           </body>
</html>


