<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
    
     <head>
        <title>Gebruiker aanpassen</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
     <body sec:authorize="hasAnyRole('ROLE_EMPLOYEE', 'ROLE_ADMIN')"  background="/images/grass.jpg">
         <h1>Maak een nieuwe wachtwoord en verander eventueel andere gegevens</h1>


        <h2 th:if="${session.message != null}">Email adres al in gebruik, maak een andere keuze</h2>


        <form method="post" action="/updateUser" onsubmit="return checkForm(this);">
            <fieldset style="background:#808080;">
                <legend>Maak Account</legend>
                <p>Email : <input title="Vul uw Email gebruikersnaam in" type="text" placeholder=" bijvoorbeeld abc@mijnmail.nl" required pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" name="email" th:value="${session.user.getEmail()}"></p>
                <p>Wachtwoord :  <input title="Wachtwoord moet op zijn minste bestaan uit 6 karakters met tenminste een hoofdletter en een integer (getal)" type="password" placeholder=" bijvoorbeeld Aa1234" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" name="W8" onchange="
                        this.setCustomValidity(this.validity.patternMismatch ? this.title : '');
                        if (this.checkValidity())
                            form.W8c.pattern = this.value;
                                        "></p>
                <p>Bevestig Wachtwoord: <input title="Herhaal uw wachtwoord zoals hierboven" type="password" placeholder=" Herhaling " required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" name="W8c" onchange="
                        this.setCustomValidity(this.validity.patternMismatch ? this.title : '');
                                               "></p><br>

               
                <p>Voornaam : <input  type="text" name="firstName" required th:value="${session.tempAdres.getFirstName()}"></p>
                <p>Tussennaam : <input  type="text"  name="insertion" th:value="${session.tempAdres.getInsertion()}" > </p>
                <p>Achternaam : <input  type="text"  name="lastName" required th:value="${session.tempAdres.getFamilyName()}"> </p>
                <br>
                <p>Straat : <input  type="text"  name="street" required th:value="${session.tempAdres.getStreet()}"> </p>
                <p>Huisnummer : <input  type="number"  name="number" th:value="${session.tempAdres.getNumber()}" > </p>
                <p>Toevoeging : <input  type="text"  name="addition" th:value="${session.tempAdres.getNumAddition()}" > </p>
                <p>Postcode : <input  type="text" placeholder="1234AA"  name="zipCode" required pattern="[1-9][0-9]{3}\s?[a-zA-Z]{2}" onchange="
                        this.setCustomValidity(this.validity.patternMismatch ? this.title : '');
                                      "                        th:value="${session.tempAdres.getZipCode()}"> </p>
                <p>Plaats : <input  type="text"  name="city" required th:value="${session.tempAdres.getCity()}"> </p>
                <br>
                <br>
                <p>Rechten : </p> 
                <br>
             <div sec:authorize="hasAnyRole('ROLE_EMPLOYEE')">
               <INPUT TYPE="radio" NAME="usertype" VALUE="COSTUMER" checked>Klant
               <INPUT TYPE="radio" NAME="usertype" VALUE="EMPLOYEE">Medewerker
                </div>
               <div sec:authorize="hasAnyRole('ROLE_ADMIN')">
               <INPUT TYPE="radio" NAME="usertype" VALUE="ADMIN">Admin
               <INPUT TYPE="radio" NAME="usertype" VALUE="CUSTOMER" checked>Klant
               <INPUT TYPE="radio" NAME="usertype" VALUE="EMPLOYEE">Medewerker
               </div>


                <p><input type="submit" value="Update Account"></p>
                <br>
            </fieldset>
        </form>              


        <!--achtergrondbody-->
    </body>
    
</html>