<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Medewerkers</title>
<link href="css/bootstrap.min.css" rel="stylesheet">


</head>
<body>
	<div
		th:if="${session.currentUser!= null and session.currentUser.UserType.toString() == 'EMPLOYEE' }">
		<!-- background = "/images/spots.jpg" -->
		<header th:replace="Navigator :: header" />


		<h1 align="center">Welkom medewerker</h1>
		<h2 align="center">hoi</h2>
		<p align="center">
			hier komen nog dingen<br />
		</p>
	</div>

	<div
		th:unless="${session.currentUser!= null and session.currentUser.UserType.toString() == 'EMPLOYEE' }">
		<h1 align="center">No access</h1>

	</div>
</body>
</html>


