<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--  <head th:insert="template :: head">-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
 <title>ERROR: By Tjeerd Santema</title>
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/cart.css" rel="stylesheet" />
<link href="css/CheckOut.css" rel="stylesheet" />

</head>
       
   <body background="/images/background-cheese.jpg" style="text-align: center; padding: 10px;">
      
       <br/>
       <h1><span th:text="${errorMsg}">U</span></h1>
       
       <h3>Om je bezig te houden, is hier een plaatje van een kaas</h3>
       <img src="/images/cheeses.jpg"/>
</body>
</html>
