<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boer Piet - Winkelwagen</title>
    <link rel="stylesheet" type="text/css" href="C:\Users\Jellie\Documents\NetBeansProjects\WebshopMVC2\webshopmvc\src\main\resources\static\css\Kaasmenu.css" />
    
</head>
    <body>
        <header th:fragment = "kaasmenu">
        <nav id = "menu">
            <div id = "box"> All </div>
            <div id = "box"> Goat</div>
            <div id = "box"> Cream </div>
            <div id = "box">  Mold </div>
            <div id = "box"> Hard/Medium </div>
            <div id = "box">  The Cheap Ones </div>
             <div id = "box">  The Expensive Ones </div>
        </nav>
        </header>
    </body>
</html>
