<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Order Details</title>
<link href="/../css/bootstrap.min.css" rel="stylesheet" />
<link href="/../css/cart.css" rel="stylesheet" />
<link href="/../css/CheckOut.css" rel="stylesheet" />


</head>


<body sec:authorize="hasAnyRole('ROLE_EMPLOYEE','ROLE_ADMIN')"  style="background: rgb(255, 255, 179);">
	<header th:replace="navigator :: header" />
	
	<div class="container"  style="background: rgb(255, 255, 179);">
  <div class="row">
	
		<div class="col-lg-4"
			style="background: rgb(237, 214, 192); text-align: center; padding: 20px; margin: 15px;">
		<h2>Order details</h2>
		<br>
		
		<p th:text="${'Datum: ' + session.date} " style="font-size: 150%;">Datum</p>
		<p th:text="${'Order nr: ' + session.order.getId()}" style="font-size: 150%;">Order nr:</p> 
			



	</div>
	<div class="col-lg-1"></div>
	<div class="col-lg-3"
			style="background: rgb(204, 230, 255); text-align: center; padding: 20px; margin: 15px; border: 1px solid yellow;">
	

		<table>

			<td th:with="order = ${session.order}">

				<h3>Afleveradres</h3>
				<p  style="font-size: 130%;">
					Voornaam: <span class="center middle"
						th:text="${order.getFirstName()}">Tjeerd</span><br />
						
					Achternaam: <span class="center middle"
						th:text="${order.getInsertion() + ' ' + order.getFamilyName()}">56</span><br />
					
					 Adres: <span class="center middle" 
					 th:text="${order.getStreet()}">7209 LS</span><br /> 
					 
					 Huisnummer: <span class="center middle"
						th:text="${order.getNumber() + ' ' + order.getNumAddition()}">27</span><br />
					
					Postcode: <span class="center middle"
							th:text="${order.getZipCode()}">27</span><br /> Stad: <span
							class="center middle" th:text="${order.getCity()}">27</span><br />
				</p>

			</td>
		</table>
	</div>


	<div class="col-lg-2"
			style="text-align: center; padding: 20px; margin: 15px; ">

		<div class="imgcontainer">
			<img src="/images/Edwin.png" alt="Boer Piet" class="avatar"
					height="60%" width="60%">
		</div>
	</div>
	<div class="col-lg-1"></div>
	</div> <!-- end grid row -->
	
	
  <div class="row" style="background: rgb(242, 242, 242);">
 	

	<!-- Hier komen alle producten die je gekocht hebt -->
	
	<div id="table" >
		<table class="table table-hover">
			<thead>
				<tr class="center middle">
					<th>Nummer</th>
					<th>Sub Id</th>
					<th>Product</th>
					<th>Merk</th>
					<th>Aantal</th>
					<th>Stukprijs</th>
					<th>Totaalprijs</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="element , status : ${session.subs}">
					<td class="center middle" th:text="${status.index+1}"></td>
					<td class="center middle" th:text="${element.getId()}"></td>
					<td class="center middle" th:text="${element.getPrd_name()}"></td>
					<td class="center middle" th:text="${element.getPrd_brand()}"></td>
					<td class="center middle" th:text="${element.getQuantity()}"></td>
					<td class="center middle" th:text="${element.getItem_price()}"></td>
					<td class="center middle" th:text="${element.getSubTotal()}"></td>
			
				</tbody>
			<tfoot>
				<tr>
					<td colspan="4"></td>
					<td class="text-right" th:text="${'Totaal: ' + session.order.getTotalPrice()}"  style="font-weight:bold;"><strong>Totaal: </strong></td>
					<!--<td class="text-left" th:text="${order.getTotalPrice()}"></td>-->
				</tr>
			</tfoot>
		</table>
	</div>
	
	
</div> <!--  end grid row -->
	
	
  <div class="row">
  
  <div class="col-lg-4"></div>

	<div class="col-lg-4">
	<br>
	<form action="/employees/orders">
		<input type="submit" value="Terug naar overzicht" />
	</form>
	</div>
	<div class="col-lg-4"></div>
	
	</div> <!-- end grid row -->
	</div> <!-- end container -->
	<br />
	



</body>

<body sec:authorize="hasAnyRole('ROLE_CUSTOMER','ROLE_ANONYMOUS')">	
		<h1 align="center">No access</h1>
</body>

</html>
