<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Producten</title>


<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/Kaasmenu.css" rel="stylesheet">
<link href="css/welcome.css" rel="stylesheet">

<script>
function myFunction(x) {
    alert("Row index is: ?"+x);
}
</script>


</head>

<body bgcolor="#E6E6FA">
	<header th:replace="Navigator :: header" />
	<h2>Producten Overzicht</h2>


	<p>
	<table class="table table-bordered" cellpadding="10" border="1">
		<thead>
			<tr>
				<th width="150" align="left">Naam</th>
				<th width="150" align="left">Categorie</th>
				<th width="150" align="left">Merk</th>
				<th width="30" align="right">Prijs</th>
				<th width="30" align="right">Voorraad</th>
				<th width="300" align="left">Informatie</th>
				<th width="300" align="left">Voeg toe</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="element, status: ${session.lijst}">

				<td th:text=" ${element.name}" align="left">naam</td>
				<td th:text=" ${element.category.getNL()}" align="left">1</td>
				<td th:text=" ${element.brand}" align="left">merk</td>
				<td th:text=" ${element.price}" align="right">prijs</td>
				<td th:text=" ${element.stockCount}" align="right">voorraad</td>
				<td th:text=" ${element.info}" align="left">info</td>
				<td>
					<form action="#"
						th:action="@{/cart/add/}"  method="post">
						<button name="choice" th:value= "${status.index}"
							type="submit"><span
					class="glyphicon glyphicon-shopping-cart icon-white"
					aria-hidden="true"> </span>
							<i> &nbsp; Voeg toe</i>
						</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
	</p>

	<h3>Categorien:</h3>



	<form class="form-inline" role="form" action="#" 
		th:action="@{/products/filter}" 
		method="post">

		<div class="form-group">
			<div th:each="category : ${categories}" class="radio">
				<input type="radio" th:value="${category}" name="filter"
					checked="checked" /> <label th:text="${category.getNL()}">Hard</label>
			</div>
			<br> <input type="submit" value="OK" />
		</div>
	</form>



</body>
</html>