<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="template :: head">

<!--  
<head>
<meta charset="ISO-8859-1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
-->
<title>Producten</title>


<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/Kaasmenu.css" rel="stylesheet">
<link href="css/welcome.css" rel="stylesheet">

</head>

<body bgcolor="#E6E6FA">
	<header th:replace="Navigator :: header" />

	<div class="container">
		<div class="row">
			<div class="col-lg-2 navbar-left">
				<h4>Filter op categorie:</h4>
				<form class="form" role="form" action="#"
					  th:action="@{/products/filter}" th:object="${formobject}"
					  method="post">
					<div class="form-group">
						<div th:each="category : ${categories}" class="radio">
							<input th:checked="${category.getNL()=='Alles'}" type="radio" th:value="${category}" name="filter" />
							<label th:text="${category.getNL()}">--</label>
						</div>
						<input type="submit" value="OK" />
					</div>
				</form>
			</div>
			<div class="col-lg-10">
				<h1 class="page-header">Producten</h1>
				<table class="table table-striped" cellpadding="10">
					<thead>
						<tr>
							<th align="left">Naam</th>
							<th align="left">Categorie</th>
							<th align="left">Merk</th>
							<th align="left">Prijs</th>
							<th align="left">Voorraad</th>
							<th align="left">Informatie</th>
							<th width="5" align="left" style="text-align: right">Aantal</th>
							<th width="15" align="left">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="element, status: ${lijst}">
							<td th:text="${element.name}" align="left">naam</td>
							<td th:text="${element.category.getNL()}" align="left">1</td>
							<td th:text="${element.brand}" align="left">merk</td>
							<td th:text="${element.price}" align="left">prijs</td>
							<td th:text="${element.stockCount}" align="left">voorraad</td>
							<td th:text="${element.info}" align="left">info</td>
							<td align="left">
								<form method="post" action="/cart/add" th:action=@{/cart/add?productId={productId}(productId=${element.id})}>
									<input type="text" style="text-align: right" size="5" placeholder="1" name="quantity"/>
								<td>
									<button type="submit" class="glyphicon glyphicon-shopping-cart icon-white" aria-hidden="true"></button>
								</td>
								</form>
								
								<!--
								Jurjen
								<form method="post" action="/cart/add" th:action=@{/cart/add?productId={productId}(productId=${element.id})}>
									<input type="text" style="text-align: right" size="5" placeholder="1" name="quantity"/>
								<td>
									<button type="submit" class="glyphicon glyphicon-shopping-cart icon-white" aria-hidden="true"></button>
								</td>
								</form>
								
								
								Rutger  
								<form action="#" th:action="@{/cart/add/}"  method="post">
									<button name="choice" th:value= "${status.index}" type="submit">
									<span class="glyphicon glyphicon-shopping-cart icon-white" aria-hidden="true"> </span>
									<i> &nbsp; Voeg toe</i>
									</button>
								</form>
				
								-->							
								
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>			
	
</body>
</html>