<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--  <head th:insert="template :: head">-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Edit Product</title>
<link href="/../css/bootstrap.min.css" rel="stylesheet">
<link href="/../css/Kaasmenu.css" rel="stylesheet">
<link href="/../css/welcome.css" rel="stylesheet">

<style type="text/css">
#button{
    padding: 10px;
    margin: 10px;
    background: rgb(50,50,50);
    -webkit-box-shadow: rgb(30,30,30) 5px 5px 5px;
    -webkit-border-radius: 10px;
   color: whitesmoke;
   text-align: center;
   -webkit-transition: -webkit-box-shadow 0.3s; 
}
</style>

<head>

<div 
	th:if="${session.currentUser!= null and session.currentUser.UserType.toString() == 'EMPLOYEE' }">
	
	<header th:replace="Navigator :: header" />
	
		<div id="hoofd">
		<h2>Edit / Nieuw Product</h2>
		</div>

	<div class="container">
		
	</div>
	<!--end container -->

</div>
<!-- end employees only content -->


<div
	th:unless="${session.currentUser!= null and session.currentUser.UserType.toString() == 'EMPLOYEE' }">
	<h1 align="center">No access</h1>

</div>



</body>
</html>