<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boer Piet - Winkelwagen</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body background = "/images/background-cheese.jpg">
           <header th:replace = "Navigator :: header" />
  
<h2>Welkom in de Piet's Kaas Winkel</h2>

<p>Dit is slechts het welkommenu</p>
<p>Later komt hier kaas te staan, goed hè</p>

</body>
</html>