<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">


<title>Welkom</title>
</head>
<body>
    <input type="button" value="Login" onclick="window.open('/login.html','login', 'width=500,height=555,scrollbars=no,toolbar=no,location=no'); return false" />
    <input type="button" value="products" onclick="window.open('/products.html','login', 'width=500,height=555,scrollbars=no,toolbar=no,location=no'); return false" />
<h2>Welkom in de Piet's Kaas Winkel</h2>


<p></head>
<body>
<form action="/products">
    <input type="submit" value="Producten uit DB" />
</form>
</p>


</body>
</html>